body {
    background:#fefefe;
}
h2 {
    color:#1460AA;
}

.booking {
    background:#2e3532;
}

.contact {
    background:#dbd3d8;
}

.about {
    background:#d8b4a0;
}

.offer {
    background:#818d92;
}

.pricing {
    background:#EFF1F3;
}

.testimonials {
    background:#bfd1e5;
}
