body {
    background:#fefefe;
  
}

.main { 
    max-width: 1400px;
    margin: 0 auto;
       
}

.header__subtitle {
    color:#1460AA;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.find-out {
    border:5px solid #2e3532;
    border-radius:20px;
    height: 400px;
    width: 300px;
    margin:20px;
    padding:1em;
    
}
